@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato:ital,wght@0,400;1,700&family=Source+Sans+Pro:wght@600&display=swap");
* {
  font-family: "Lato";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #ffffff;
  --secondary-color: #2c2c2c;
  --purple: #6030b1;
}


.dark-mode{
  --primary-color: #2c2c2c;
--secondary-color: #fff;
--purple: #9d66fc;
}

.themetoggle{
  width: 27px;
  height: 27px;
  margin: 0px!important;
  
  position: relative;
  bottom: 3px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.themetoggle:hover{
  transform: scale(1.1);
}
.themetoggle:active{
  transform: scale(0.8);
}
body{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 350ms ease;
}

html {
  scroll-behavior: smooth;
}

/* splash */
.intro {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}
.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff !important;
  
}
.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: var(--secondary-color);
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}
a {
  text-decoration: none;
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: var(--primary-color);
}
.link__hover-effect--black:after {
  background-color: var(--secondary-color);
}

#themea{
  width: 200px;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}
/* nav bar */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

.container {
  padding: 50px 0;
}

.personal__logo {
  font-size: 24px;
  color: var(--purple);
  margin: 0 12px;
  font-weight: bold;
}

.text-purple {
  color:var(--purple);
}

section:nth-child(even) {
  background-color: var(--primary-color);
}

.section__title {
  margin-bottom: 20px;
}

/* about me */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
  animation: animate-profile-picture 1000ms 200ms backwards;
}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-me__picture {
  width: 100%;
  height: 100%;
  /* transform: scale(.5); */

  height: 120px;
  padding-top: 8px;
}

.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-up 850ms 450ms backwards;
}
.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 850ms 650ms backwards;
}

.about-me__link {
  font-size: 20px;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0 16px;
  transition: all 300ms ease;
}

.about-me__link:hover{
  color:var(--purple);
}

.about-me__links {
  animation: fade-up 850ms 850ms backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me__image--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  width: 100%;
  padding-top: 10%;
  animation: fade-in 900ms 1200ms backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wave {
  display: inline-block;
  animation: animate-wave 800ms infinite ease-in-out;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* Tech stack */

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
}
.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/* Projects */

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 250ms ease;
  z-index: 2;
  transform: translateY(100%);
}
.project:hover .project__wrapper:before {
  transform: translateY(0);
  opacity: 0.7;
}
.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__list {
  padding-top: 40px;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 400ms, opacity 300ms;
  
}

.project__description--title {
  font-size: 40px;
  
}

.project__description--para {
  margin: 16px 0;
  
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
  
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #fff;
}

/* footer */

footer {
  background-color: #242424;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}

.footer__row {
  padding: 8% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo--img {
  width: 100%;
  max-height: 90px;
}

.footer__social--link,
.footer__copyright {
  color: white;
}

.footer__logo--popper {
  position: absolute;
  color: white;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}
.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

/* mobile optimization */
@media (max-width: 768) {
  nav {
    height: 68px;
  }
  h1 {
    font-size: 28px;
  }
  .about-me__info--para {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }
  .project__description--para {
    display: none;
  }
  .footer__logo--img {
    display: none;
  }

  .project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }
  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}
